*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: 
        "nav"
        "section"
        "main"
        "footer";
        grid-template-rows: 50px 70px 1fr 60px;
        width: 100%;
        /* height: 100vh; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: nav;
    background-color: #00579c;
    color: white;
}

nav .logo-container{
    display: flex;
    gap: 10px;
}

nav img{
    width: 30px;
}

nav .lista{
    display: none;
}

section{
    grid-area: section;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

section select{
    width: 95%;
    height: 35px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

main .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

main .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: fit-content;
    padding: 35px 0;
    gap: 15px;
    background-color: #ececec;
}

main .cards .card img{
    width: 230px 
}

main .cards .card button{
    width: 80px;
    height: 35px;
    background-color: #00579c;
    color: white;
    border: none;
    border-radius: 3px;
}

main .navigation button{
    width: 30px;
    height: 30px;
    color: #00579c;
}
footer{
    grid-area: footer;
    background-color: #012F6B;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 20px;
}

@media (min-width: 576px){
    .container{
        grid-template-areas: 
            "nav section"
            "nav main"
            "footer main"
        ;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 70px 1fr 60px;
    }

    main .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav{
        flex-direction: column;
        justify-content: start;

    }

    nav .menu{
        display: none;
    }

    nav .logo-container{
        padding: 20px;
    }

    nav .lista{
        display: block;
    }
}